version: '3.9'

services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  api:
    build: .
    restart: unless-stopped
    ports:
      - '4000:4000'
    environment:
      - NODE_ENV=production
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/lms
      - JWT_SECRET=${JWT_SECRET:-supersecret}
      - JWT_EXPIRES_IN=12h
    depends_on:
      - mongo

  client:
    build:
      context: ./client
    restart: unless-stopped
    environment:
      - VITE_API_URL=${VITE_API_URL:-http://localhost:4000/api/v1}
    ports:
      - '5173:80'
    depends_on:
      - api

volumes:
  mongo-data:

